{% extends 'main/base.html' %}
{% block title %}
Огурцы
{% endblock %}
{% block content %}
<h1>Герман F1</h1>
<h2>С каждым годом популярность гибридных разновидностей огурцов только растет. Несмотря на необходимость ежегодной покупки семенного материала, многие делают выбор именно в пользу гибридов. Среди их достоинств: неприхотливость, сильный иммунитет, длительное плодоношение, товарный вид и лежкость. Все это в полной мере относится к огурцу Герман F1, а его скороспелость сделала его любимцем огородников в странах Европы и в России.</h2>
<h2>1,5 р/шт</h2>
<img src=https://stroy-podskazka.ru/images/knowledge/thumb/400-0/2021/08/german.jpg>

<h1>Родничок F1</h1>
<h2>Огурец Родничок – знаменитый гибрид, работы над которым проводились в советское время на территории современной Молдовы. Но за несколько десятилетий ни один из огуречных сортов, разработанных выдающимися селекционерами, не стал более востребованным и популярным. Его выращивание с успехом проводится в российских регионах в открытом грунте, парниках и теплицах.</h2>
<h2>1,5 р/шт</h2>
<img src=https://stroy-podskazka.ru/images/knowledge/thumb/400-0/2021/08/rodnichok.jpg>

<h1>Пальчик</h1>
<h2>Овощная культура Пальчик представляет собой высокорослые кусты индетерминантного типа (растущие на протяжении всего периода вегетации). Характеризуется растение мощным центральным стеблем, длинными плетями, вырастающими до 2-2,5 метра, умеренным ветвлением и средней облиственностью крупными, темно-зелеными листьями.</h2>
<h2>0,5 р/шт</h2>
<img src=https://dachadecor.ru/images/durfgh.jpg>

<h1>Изящный</h1>
<h2>Огурец сорта Изящный устойчив к низким температурам, что позволяет переносить рассаду на открытый грунт в ранние сроки и, соответственно, раньше получать урожай. Оптимальнее всего выращивать культуру на открытом грунте, но в принципе развиваться она сможет и под временным пленочным укрытием.</h2>
<h2>0,5 р/шт</h2>
<img src=https://stroy-podskazka.ru/images/knowledge/thumb/400-0/2021/08/izyashchnyj.jpg>

<h1>Феникс</h1>
<h2>Огурец Феникс – устойчивый к похолоданиям и неблагоприятным условиям сорт с крепким иммунитетом против ложной и настоящей мучнистой росы, с растянутым и обильным плодоношением и высокой урожайностью. </h2>
<h2>0,5 р/шт</h2>
<img src=https://stroy-podskazka.ru/images/knowledge/thumb/400-0/2021/08/feniks.jpg>

<h1>Засолочный</h1>
<h2>Сорт относится к индетерминантным, пчелоопыляемым и имеет смешанный тип цветения. Засолочный хоть и относится к среднерослым, может вырасти довольно высоким, до 2-х метров, поэтому нуждается в подвязке вертикального или смешанного типов.Сорт имеет столовое назначение: он хорошо подходит для салатов, засолки, консервирования, употребления в свежем виде.</h2>
<h2>0,5 р/шт</h2>
<img src=https://stroy-podskazka.ru/images/knowledge/thumb/400-0/2021/08/zasolochnyj.jpg>






{% endblock %}