{% extends 'main/base.html' %}
{% block title %}
Томаты
{% endblock %}
{% block content %}
<h1>Красная шапочка</h1>
<h2>Красная шапочка – это штамбовый вид томатов. Высота компактных кустов не превышает 40 сантиметров. Листва образуется умеренно, имеет средний размер и зеленую окраску. Стебли, несмотря на маленький размер, отличаются плотностью, а также не требуют от садовода формирования. Так как сорт ампельный, его можно выращивать даже в подвесных кашпо. Культура отличается простыми соцветиями. Плодоножка помидоров растет с сочленением.</h2>
<h2>0,4 р/шт</h2>
<img src=https://stroy-podskazka.ru/images/knowledge/thumb/400-0/2021/04/krasnaya-shapochka.jpg>

<h1>Удачный</h1>
<h2>От всходов до созревания 100-105 дней. Плоды массой до 150гр, округлые, красные, вкус хороший. Имеет высокую отдачу урожая за первую декаду сборов. Устойчив к вершинной и корневой гнилям. Прекрасно подходит для потребления в свежем виде и консервирования.</h2>
<h2>0,4 р/шт</h2>
<img src=https://1semena.ru/wa-data/public/shop/products/28/35/13528/images/26620/26620.970.jpg>







{% endblock %}