{% extends 'main/base.html' %}
{% block title %}
Баклажаны
{% endblock %}
{% block content %}
<h1>Длинный фиолетовый</h1>
<h2>Фиолетовый длинный относится к культурам, которые можно выращивать как в теплицах, так и в открытом грунте. Он одинаково успешно произрастает в центральных регионах России, а также в ее северных и дальневосточных областях. Отличительной чертой сорта является привлекающая внимание удлиненная форма плодов. Кроме того, баклажаны сорта Фиолетовый длинный долго хранятся и очень транспортабельны.</h2>
<h2>1,5 р/шт</h2>
<img src=https://stroy-podskazka.ru/images/knowledge/thumb/400-0/2021/08/fioletovyj-dlinnyj.jpg>




{% endblock %}